[submodule "3dcitydb"]
	path = 3dcitydb
	url = https://github.com/3dcitydb/3dcitydb
	branch = master
[submodule "importer-exporter"]
	path = importer-exporter
	url = https://github.com/3dcitydb/importer-exporter
	branch = submodule-relocation
[submodule "3dcitydb-docs"]
	path = 3dcitydb-docs
	url = https://github.com/3dcitydb/3dcitydb-docs
	branch = master
[submodule "3dcitydb-web-map"]
	path = 3dcitydb-web-map
	url = https://github.com/3dcitydb/3dcitydb-web-map
	branch = master	
[submodule "importer-exporter-plugins/plugin-spreadsheet-generator"]
	path = importer-exporter-plugins/plugin-spreadsheet-generator
	url = https://github.com/3dcitydb/plugin-spreadsheet-generator
	branch = master
[submodule "importer-exporter-plugins/plugin-ade-manager"]
	path = importer-exporter-plugins/plugin-ade-manager
	url = https://github.com/3dcitydb/plugin-ade-manager
	branch = master
[submodule "web-feature-service"]
	path = web-feature-service
	url = https://github.com/3dcitydb/web-feature-service
	branch = master
[submodule "ade-extensions/energy-ade-citydb"]
	path = ade-extensions/energy-ade-citydb
	url = https://github.com/3dcitydb/energy-ade-citydb
	branch = main
[submodule "ade-extensions/iur-ade-citydb"]
	path = ade-extensions/iur-ade-citydb
	url = https://github.com/3dcitydb/iur-ade-citydb
	branch = master
